:root{
    --main:#ffa07a;
    --hover:#FFB77A;
    --border:#FF897A;
}

#cardsBox{

    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:5%
}
h1{
    text-align: center;
}
select{
    height: 3.6rem;
}

.btn{
    background-color: var(--main);
    border-color: var(--border);
}
.btn:hover{
    background-color: var(--hover);
    border-color: var(--border);
}

.form-select:focus{
    box-shadow: 5px 5px 5px var(--main);
    border-color :var(--border);
}
.form-control:focus{
    box-shadow: 5px 5px 5px var(--main);
    border-color :var(--border);
}

option:hover {
    background-color: var(--main);
}