:root{
    --main:#ffa07a;
    --hover:#FFB77A;
    --border:#FF897A;
}

#cardsBox{

    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:5%
}
h1{
    text-align: center;
    color: var(--main);
}

h2{
    color: var(--main);
}
select{
    height: 3.6rem;
}

form .btn{
    background-color: var(--main);
    border-color: var(--border);
}
form .btn:hover{
    background-color: var(--hover);
    border-color: var(--border);
}

.form-select:focus{
    box-shadow: 5px 5px 5px var(--main);
    border-color :var(--border);
}
.form-control:focus{
    box-shadow: 5px 5px 5px var(--main);
    border-color :var(--border);
}

option:hover {
    background-color: var(--main);
}
#ingredientBox{
    max-width: 60vw;
}


/*
BOUTON NEW INGREDIENT
*/
#buttonAddNewLineIngredient{
    width: 60vw;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttonAddNewLineIngredient i{
    background-color: #bbeba3;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    border-radius: 10px;
    font-size: x-large;
    font-weight: 900;
    transition: 0.5s;
}
#buttonAddNewLineIngredient i:hover{
    background-color:#a2e97e ;
    transform: scale(1.05);
    transition: 0.5s;
}

/*
BOUTON DELETE LIGNE INGREDIENT
*/

.buttonDeleteLine{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}
.buttonDeleteLine i{
    background-color: #ff6961;
    color: white;
    padding: 60%;
    border-radius: 100%;
    font-size: x-large;
    transition: 0.5s;
}
.buttonDeleteLine i:hover{
    background-color: #fc5b53;
    transform: scale(1.05);
    transition: 0.5s;
}
/*
FORM
*/
.form-label{
    color: var(--main);
}

#form {
    margin-bottom: 5%;
}

form .btn{
    margin: 0 35vw 5vh 35vw;
    width: 30vw;
}